body {
  width: 90%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  color: #333;
}

#playlist {
  margin-top: 40px;
  text-align: center;
}

#playlist li {
  margin: 20px;
}

.artist {
  margin-left: 10px;
  font-style: italic;
  font-size: 16px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #d35400;

  margin: 10px;
  padding: 10px;
  position: relative;
  margin-top: 60px;
}

.selected {
  color: #27ae60;
}

.played {
  color: #d0d8dd;
}
